.container {
  max-width: 700px;
  margin: 0 auto;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  margin-left: 10px;
}
.danger {
  max-width: 40px;
  max-width: 40px;
}

img {
  max-width: 100%;
}

.main_input {
  position: sticky;
  top: 20px;
  z-index: 100;
}
